pipeline/01_foreach.json
{
	"name": "01_foreach",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.listOfCities",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FinalListOfCities",
								"value": {
									"value": "@concat('City=',item())",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp",
					"value": {
						"value": "@variables('FinalListOfCities')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"listOfCities": {
				"type": "array",
				"defaultValue": [
					"Hyderabad",
					"Zaheerabad",
					"Sangareddy"
				]
			}
		},
		"variables": {
			"FinalListOfCities": {
				"type": "Array"
			},
			"temp": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"folder": {
			"name": "control flow activities/foreach"
		},
		"annotations": []
	}
}